/* Default Theme (Dark Mode) */
:root {
  --bg-color: #0d1117;
  --text-color: #c9d1d9;
  --header-bg: #161b22;
  --accent-color: #58a6ff;
  --hover-color: #1f6feb;
  --card-bg: #161b22;
  --border-color: #30363d;
  --input-bg: #0d1117;
  --input-border: #30363d;
}

/* Light Mode Theme */
.light-theme {
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --header-bg: #ffffff;
  --accent-color: #007bff;
  --hover-color: #0056b3;
  --card-bg: #ffffff;
  --border-color: #d1d5db;
  --input-bg: #ffffff;
  --input-border: #ced4da;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Apply Global Theme */
body {
  background: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  /*
  cursor: url("assets/cursor.svg"), auto;
  */
}

/* Header */
header {
  background: var(--header-bg);
  transition: background 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Sections */
section {
  background: var(--bg-color);
  padding: 50px;
  border-radius: 10px;
}

/* Forms */

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

textarea {
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}
input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

#contact {
  text-align: center;
  padding: 50px;
}

label {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.logo,
.logo a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}
.header-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

/* Desktop Navigation (Default) */

.hamburger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--text-color);
}

/* ==================== */
/* Navigation */
/* ==================== */
#nav-menu {
  text-align: center;
  display:vblock
}

#nav-menu ul{
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
}

#nav-menu a {
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  display: flex;
}

#nav-menu a:hover{
  color: var(--accent-color);
}

#nav-menu a.active{
  font-weight: 700;
  color: var(--accent-color);
}

#nav-menu .dropdown-menu {
  gap: 5px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  cursor: pointer;
}

#nav-menu .dropdown a {
  padding: 5px 10px;
  display: flex;
  text-align: center;
  text-overflow: clip;
  height: min-content;
}

/* .dropdown a{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
} */

.dropdown-menu {
  position: absolute;
  padding: 0px 5px;
  background: var(--header-bg);
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 100;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  white-space: nowrap;
}

.dropdown-menu li{
  padding: 10px 0px;
  transition: background 0.3s;
}

/* .dropdown li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 0px 10px;
} */

.dropdown-menu li:hover {
  background: var(--accent-color);
}

/* Show dropdown on hover (Desktop) */
@media (min-width: 769px) {
  .dropdown:hover .dropdown-menu {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

/* Mobile Dropdown Toggle */
@media (max-width: 768px) {
  .dropdown-menu {
    position: static;
    display: none;
    width: 100%;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    max-width: 100%;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  #nav-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: var(--header-bg);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 10;
  }
  #nav-menu ul {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 100%;
  }

  #nav-menu a {
    font-size: 18px;
    padding: 15px;
    display: block;
    text-align: center;
    color: var(--text-color);
  }

  #nav-menu a:hover {
    color: var(--accent-color);
    background-color: var(--card-bg);
  }

  /* Show Menu When Active */
  #nav-menu.active {
    right: 0;
    display: flex !important;
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-color);
}
.hero {
  padding: 100px 20px;
  background: linear-gradient(120deg, var(--bg-color), var(--header-bg));
  transition: background 0.3s ease-in-out;
}
.hero h1 {
  font-size: 48px;
}
.hero p {
  font-size: 20px;
  margin-top: 10px;
}

button[type="submit"] {
  transition: 0.3s;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--text-color);
}

button[type="submit"]:hover {
  background: var(--hover-color);
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--text-color);
  transition: background 0.3s, transform 0.2s;
}
.cta-button:hover {
  background: var(--hover-color);
}

.project-card {
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

.project-card:hover {
  transform: scale(1.05);
  /*
  cursor: url("assets/click-cursor.svg"), pointer;
  */
}

.resume-container {
  padding: 60px 20px;
  text-align: center;
  padding: 50px;
}

.resume-box {
  width: 70%;
  max-width: 800px;
  height: 600px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.resume-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.download-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#error-message {
  color: red;
  margin-top: 20px;
  font-weight: 700;
  display: none;
}

footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #8b949e;
  background: var(--card-bg);
  border-top: 1px solid var(--border-color);
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

form {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

#form-status {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
.hidden {
  display: none;
}
.success {
  color: #2ecc71;
}
.error {
  color: #e74c3c;
}

/* Theme Toggle Button */
.theme-toggle {
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.theme-toggle:hover {
  background: var(--hover-color);
  color: var(--text-color);
}

#terminal {
  text-align: left;
  font-family: "Cascadia Mono";
  line-height: 1.5;
}

.cursor {
  display: inline-block;
  width: 5px;
  background: var(--text-color);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    text-align: center;
  }
  .logo {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
  }
  .header-img {
    height: 75px;
    width: 75px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .cta-button {
    font-size: 16px;
    padding: 12px 24px;
  }
  .project-card {
    width: 90%; /* Prevents cards from shrinking too much */
    margin: 15px auto;
  }
  .resume-box {
    width: 95%;
    height: 450px;
  }
  .download-buttons {
    flex-direction: column;
    gap: 10px;
  }
  form {
    width: 90%;
  }
  footer {
    font-size: 14px;
  }

  .theme-toggle {
    margin-top: 10px;
  }
}

#chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#chatbox-container {
  max-height: 200px;
  overflow-y: auto;
}

#chat-input-container {
  display: flex;
  align-items: center;
}

#chatInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.chat-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#closeChatbot {
  background: rgba(255, 0, 0, 0.25);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

#sendChat {
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  display: none; /* Hidden by default */
}

#sendChat.visible {
  display: inline-block;
}

/* Minimized Chat Icon */
#chatIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--accent-color);
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#chatIcon:hover {
  transform: scale(1.05);
}

.user-message {
  text-align: right;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.bot-message {
  text-align: left;
  color: var(--text-color);
  background: var(--border-color);
  padding: 5px;
  border-radius: 5px;
}

.chatbotsvg {
  height: 90%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}