body {
  background: #1e1e1e;
  color: #dcdcdc;
  font-family: "Fira Code", monospace;
}

.py-container {
  display: flex;
  height: 100vh;
}

.py-sidebar {
  background: #252526;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.py-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.py-editor-container {
  flex-grow: 1;
  border: 1px solid #306998;
  background: #1e1e1e;
  padding: 10px;
  overflow: auto;
}

.py-editor {
  font-family: "Fira Code", monospace;
  color: #dcdcdc;
  white-space: pre-wrap;
}

.py-terminal-container {
  height: 200px;
  background: black;
  color: white;
  padding: 10px;
  overflow-y: auto;
  border-top: 2px solid #FFD43B;
}

.py-prompt {
  color: #FFD43B;
}

.py-error {
  color: red;
}
